.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

body {
  min-height: 100%;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 87px;
  position: relative;
}

/*.body-wrapper {
  min-height: 100%;
  padding-bottom: 85px;
}*/

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1130px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 639px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/*@media screen and (max-width: 359px) {

  html, body {
    min-width: 250px;
  }

  .container {
    width: 100%;
    /min-width: 250px;
    padding: 0 20px;
  }
}*/
