.text-section__brand-background {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: -7px;
  padding: 0 180px 20px 0;
  min-height: 170px;
  line-height: 150px;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.text-section__brand-background .text-section__text {
  margin-bottom: 0;
}

.brand__text-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
}

.brand__link_outer-container {
  position: absolute;
  top:0;
  right: 0;
  width: 150px;
  height: 150px;
}

.brand__link_outer {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.brand__link-picture {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
}

.brand-section {
  padding: 50px 0 35px 0;
  margin-bottom: 90px;
}

.brand-section__image-container {
  display: block;
  float: left;
  width: 250px;
  margin-left: 10px;
}

.brand-section__download-link {
  display: block;
  text-decoration: none;
}

.brand-section__download-link:hover {
  cursor: pointer;
}

.brand-section__image {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}

.brand-section__content-container {
  display: block;
  margin-left: 270px;
  padding: 0;
}

.brand-section__content-wrapper {
  position: relative;
  margin: -18px 0 0 0;
  min-height: 130px;
}

/* The ghost, nudged to maintain perfect centering */
.brand-section__content-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* The element to be centered, can also be of any width and height */
.brand-section__content {
  display: inline-block;
  min-height: 130px;
  margin: 0 0 0 110px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 25px;
  font-weight: normal;
  letter-spacing: 0.02em;
  vertical-align: middle;
}

.brand-section__content-picture {
  display: inline-block;
  width: 89px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 1919px) {

  /*.text-section__brand-background {
    padding-bottom: 0;
  }*/

  .brand__text-wrapper {
    padding-top: 10px;
  }

  .brand-section {
    padding-top: 40px;
    margin-bottom: 40px;
  }

}

@media screen and (max-width: 1023px) {

  .text-section__brand-background {
    margin-top: 0;
    padding-bottom: 0;
  }

  .text-section__brand-background .text-section__text {
    margin-bottom: 30px;
  }

  .brand__text-wrapper {
    padding: 0;
    margin-bottom: -10px;
  }

  .brand-section {
    padding: 30px 0 25px 0;
  }

  .brand-section__image-container {
    float: none;
    margin: 0 auto;
  }

  .brand-section__content-container {
    margin: 0 auto;
  }

  .brand-section__content-wrapper {
    margin: 0;
  }

  .brand-section__content {
    margin: 0 0 0 120px;
  }

}

@media screen and (max-width: 639px) {

  .text-section__brand-background {
    width: 100%;
    min-height: auto;
    padding: 0 0 100% 0;
    margin-bottom: 10px;
  }

  .brand__link_outer-container {
    bottom:0;
    width: 100%;
    height: auto;
  }

  .brand__link_outer {
    bottom: 0;
    height: auto;
  }



  .brand-section {
    padding-bottom: 0;
    margin-bottom: 60px;
  }

  .brand-section__image-container {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .brand-section__content-picture {
    display: block;
    position: static;
    float: left;
    margin-right: 20px;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .brand-section__content-wrapper {
    min-height: 130px;
    margin-bottom: 30px;
  }

  .brand-section__content-wrapper::before {
    display: none;
  }

  .brand-section__content {
    display: inline;
    margin: 0;
  }

}
