/*Container for a block of information on a half of a page*/
.contact-container {
  display: block;
  width: 400px;
  max-width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact__form-container {
  float: left;
  padding-bottom: 30px;
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  color: #515151;
}

.contact__subtitle {
  padding: 0;
  margin: 35px 0 2px 0;
  font-size: 24px;
  font-weight: bold;
  color: #818181;
}

.contact__subtitle_small {
  font-size: 18px;
}

.contact__subtitle_notopmargin {
  margin-top: 20px;
}

.contact__text {
  padding: 0;
  margin: 0;
}

.contact__form {
  display: block;
  width: 100%;
  padding: 5px 0 0 0;
  margin: 0;
}

.contact__label {
  display: block;
  padding: 15px 0 0 0 ;
}

.contact__label-text {
  display: block;
  margin: 0 0 6px 0;
}

.contact__label-text_required {
  font-weight: bold;
  color:#c73c3c;
}

.contact__input,
.contact__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contact__input {
  display: block;
  width: 100%;
  max-width: 370px;
  margin: 0;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 240ms linear;
  -moz-transition: all 240ms linear;
  -o-transition: all 240ms linear;
  -ms-transition: all 240ms linear;
  transition: all 240ms linear;
}

.contact__input:hover,
.contact__input:focus {
  outline: none;
  border-color: #4eb0da;
}

input[type="text"].contact__input {
  height: 40px;
}

textarea.contact__input {
  height: 200px;
}

input[type="checkbox"].contact__input {
  display: inline;
  margin: 5px 3px 0 0;
  width: 25px;
  height: 25px;
  line-height: 30px;
  vertical-align: middle;
  background-color: #ffffff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.contact__label_notrobot {
  margin: 10px 0 0 0;
}

.contact__notrobot + label {
  cursor: pointer;
}

.contact__notrobot:not(checked) {
  position: absolute;
  opacity: 0;
}
.contact__notrobot:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}

.contact__notrobot:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;

  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 0 0 6px #ffffff;
  -webkit-box-shadow: inset 0 0 0 6px #ffffff;
  box-shadow: inset 0 0 0 6px #ffffff;
}

.contact__notrobot:checked + label:before {
  background: #515151;
}

/*Rules for invalid form inputs*/
.contact__input_error,
.contact__input_error:hover,
.contact__input_error:focus {
  border: 1px solid #ff0000;
}

.contact__notrobot_error:not(checked) + label:before {
  border: 2px solid #cc0000;
  -moz-box-shadow: inset 0 0 0 5px #ffffff;
  -webkit-box-shadow: inset 0 0 0 5px #ffffff;
  box-shadow: inset 0 0 0 5px #ffffff;
}

.contact__button {
  height: 40px;
  margin: 28px 0 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  background-color: #4eb0da;
  color: #ffffff;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.contact__button:hover {
  background: #0980ae;
  cursor: pointer;
}

/*Rule for div with submit message*/
.contact__validation-info {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.contact__info-container {
  float: right;
  width: 395px;
  padding-top: 15px;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #515151;
  text-align: left;
}

.contact__info-container .contact__subtitle {
  font-family: "Roboto", sans-serif;
  line-height: 14px;
  margin-top: 25px;
  margin-bottom: 12px;
}

.contact__info-container .contact__subtitle.contact__subtitle_small {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.contact__info {
  /*padding: 5px 0 0 0;*/
  padding: 0;
  margin: 0;
}

.contact__info_link {
  font-weight: bold;
  text-decoration: none;
  color: #169dd0;
}

@media screen and (max-width: 1919px) {

  .contact__info-container {
    width: 405px;
  }

}


@media screen and (max-width: 1023px) {

  .contact__form-container {
    width: 325px;
    max-width: 370px;
  }

  .contact__info-container {
    width: auto;
    min-width: 35%;
  }

  .contact__subtitle {
    margin: 20px 0 2px 0;
  }

  .contact__text {
    line-height: 24px;
  }

  .contact__label {
    padding: 10px 0 0 0 ;
  }

  .contact__label_notrobot {
    margin: 20px 0 0 0;
  }

}

@media screen and (max-width: 639px) {

  .contact__form-container,
  .contact__info-container {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    float: none;
    padding-bottom: 30px;
  }

  .contact__form-container {
    border-bottom: 1px solid #dedede;
  }

  .contact__info-container {
    margin-left: 0;
  }

  .contact__input {
    max-width: 325px;
  }

  /*Rule for div with submit message*/
  .contact__validation-info {
    font-size: 10px;
    line-height: 10px;
  }

}
