.footer {
  background-color: #4496c3;
  margin-top: 60px;
}

.footer__copyright {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding: 10px 0;
}

@media screen and (max-width: 1024px) {

  .footer {
    margin: 0
  }

}
